<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Leagues</h1>
</head>
<body>
    <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %} </div>



    <div></div>



    <button class=btn > <p><a href="reset_filter_leagues">Reset filter</a></p></button>
    <button class=btn > <p><a href="detailed_view_leagues">SHOW DETAILED </a></p></button>


    <div> </div>
    <button class=btn > <p><a href="go_to_players_from_leagues">Players of these leagues </a></p></button>
    <button class=btn > <p><a href="go_to_teams_from_leagues">Teams of these leagues</a></p></button>

    <div></div>
    <button class=btn > <p><a href="/">HOME </a></p></button>



</body>
</html>