<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Players</h1>
</head>
<body>
    <div>
    {% if extended %}
        <div>
        {% for n in data %}
        <div>{{n['playername']}}: | Age:{{n['age']}} | position:{{n['position']}} | goals:{{n['goals']}}</div>
        {% endfor %} </div>
    {% else %}
        <div>
        {% for n in data %}
        <div>{{n['playername']}}</div>
        {% endfor %} </div>
    {% endif %}
    </div>

    <div></div>


    <p> Countries represented: {% for n in data %}  {{n['nationality']}}, {% endfor %} </p>


    <div></div>

    <p> Filter by:</p>

    <form method="POST" action="/add_to_nationality">
    <p>Nationalities: <input type="text" name="name"> <input type="submit" value="Add"></p>
    </form>

    <form method="POST" action="/add_to_goals">
    <p>Goals: <input type="text" name="name"> <input type="submit" value="Add"></p>
    </form>

    <button class=btn > <p><a href="reset_filter_players">RESET FILTER </a></p></button>
    <button class=btn > <p><a href="detailed_view_players">SHOW DETAILED </a></p></button>


    <div> </div>
    <button class=btn > <p><a href="go_to_teams_from_players">Teams of these players</a></p></button>
    <button class=btn > <p><a href="go_to_leagues_from_players">Leagues of these players</a></p></button>

    <div></div>
    <button class=btn > <p><a href="/">HOME </a></p></button>



</body>
</html>